body {
  font-family: sans-serif;
  background-color: #e9f1fa;
  margin: 0 auto;
}

#main {
  margin: 0 auto;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 15px 15px;
  color: #575d63;
  background-color: #fafbfc;
}

.weather {
  font-size: 55px;
}

.temp {
  font-size: 15px;
  position: relative;
  bottom: 30px;
}

.temp a {
  color: #9d9da7;
  text-decoration: none;
}

.temp a:hover {
  text-decoration: underline;
}

#emoji {
  font-size: 55px;
}

.search {
  color: white;
  border: 1px solid transparent;
  background-color: #bbd9fa; /*#aac9fa;*/
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  box-shadow: 1px 2px 6px rgb(156, 154, 154);
}

.search:hover {
  color: #575d63;
  background-color: white;
}

#city {
  font-size: 20px;
}

ul {
  padding: 0;
  margin: 0 0 10px;
  font-size: 15px;
  list-style: none;
}

#time {
  font-size: 18px;
}

.futureTemp {
  text-align: center;
  font-size: 18px;
}

.col {
  text-align: center;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.text {
  font-size: 40px;
  color: black;
}

.low {
  font-size: 20px;
  color: #a8a6a1;
}

.high {
  font-size: 20px;
}

.col-6 {
  display: flex;
}
.col-2 {
  text-align: center;
  margin: 0 auto;
}

.app {
  margin: 30px auto;
}

#current {
  color: white;
  border: 1px solid transparent;
  background-color: #bbd9fa;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  box-shadow: 1px 2px 6px rgb(156, 154, 154);
}

#current:hover {
  color: #575d63;
  background-color: white;
}

#git a {
  color: #aac9fa;
}

#git a:hover {
  color: #7caee7;
}

#git {
  text-align: center;
  color: #aac9fa;
}

#description {
  font-weight: 600;
}

.active {
  color: black !important;
  cursor: default;
  text-decoration: none !important;
}

.active:hover {
  color: black;
  text-decoration: none;
}

.forecastDate {
  font-size: 25px;
}

